# Customer Churn Feature Integration

In this notebook, we combined multiple datasets to create a **comprehensive, customer-level feature set** suitable for churn modeling. All datasets were merged on the unique identifier `customer_id`.

## Datasets Merged

1. **Transaction History (`transactions_new`)**
   - Features include total spending, average spending, spending frequency, account age, and days since last purchase.

2. **Customer Service (`customer_service_new`)**
   - Features include number of complaints, feedbacks, inquiries, number of resolved and unresolved interactions, complaint rate, resolution rate, and recency of last interaction.

3. **Online Activity (`online_activity_new`)**
   - Features include recency of last login and platform engagement.
   - Mediums with low predictive value (e.g., website) were dropped.

## Merging Process

- All datasets were merged on `customer_id` using a **left join**, keeping all customers in the transaction dataset.
- This ensures that every customer has a complete set of features across transactions, service interactions, and online activity.

```python
# Merge datasets on customer_id
customer_df = transactions_new.merge(customer_service_new, on='customer_id', how='left')
customer_df = customer_df.merge(online_activity_new, on='customer_id', how='left')

# Display final merged DataFrame
customer_df.head()

In [1]:
import pandas as pd
import numpy as np

In [4]:
t_df = pd.read_csv('/Users/mac/PycharmProjects/Customer_Churn/transactions_history')
c_df = pd.read_csv('/Users/mac/PycharmProjects/Customer_Churn/customer_service')

In [6]:
df_new = t_df.merge(c_df, how='left', on='customer_id')
df_new

,customer_id,total_amount_spent,number_of_transactions,days_since_last_purchase,average_spent,account_age,spending_frequnecy,no_complaints,no_feedbacks,no_inquiry,no_resolved,no_unresolved,no_interactions,recency,complaint_rate,unresolution_rate,feedback_rate
0,1,416.50,1,1272,416.500000,0,0.000000,0.0,0.0,1.0,1.0,0.0,1.0,1268.0,0.0,0.0,0.0
1,2,1547.42,7,1035,221.060000,314,0.022293,0.0,0.0,1.0,1.0,0.0,1.0,1282.0,0.0,0.0,0.0
2,3,1702.98,6,1077,283.830000,239,0.025105,0.0,0.0,1.0,1.0,0.0,1.0,1122.0,0.0,0.0,0.0
3,4,917.29,5,997,183.458000,219,0.022831,0.0,0.0,2.0,1.0,1.0,2.0,1036.0,0.0,0.5,0.0
4,5,2001.49,8,1003,250.186250,303,0.026403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,227.25,1,1153,227.250000,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,997,419.82,2,1060,209.910000,80,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,998,252.15,1,1097,252.150000,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,999,2393.26,9,1017,265.917778,321,0.028037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,1000,1670.79,6,1011,278.465000,249,0.024096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
o_df = pd.read_csv('/Users/mac/PycharmProjects/Customer_Churn/online_activity')
o_df

     customer_id  login_frequency  days_since_last_login
0              1               34                    699
1              2                5                    654
2              3                3                    674
3              4                2                    756
4              5               41                    693
..           ...              ...                    ...
995          996               38                    964
996          997                5                    902
997          998               47                    802
998          999               23                    985
999         1000               22                    768

[1000 rows x 3 columns]

In [8]:
df_new = df_new.merge(o_df, how='left', on='customer_id')
df_new

,customer_id,total_amount_spent,number_of_transactions,days_since_last_purchase,average_spent,account_age,spending_frequnecy,no_complaints,no_feedbacks,no_inquiry,no_resolved,no_unresolved,no_interactions,recency,complaint_rate,unresolution_rate,feedback_rate,login_frequency,days_since_last_login
0,1,416.50,1,1272,416.500000,0,0.000000,0.0,0.0,1.0,1.0,0.0,1.0,1268.0,0.0,0.0,0.0,34,699
1,2,1547.42,7,1035,221.060000,314,0.022293,0.0,0.0,1.0,1.0,0.0,1.0,1282.0,0.0,0.0,0.0,5,654
2,3,1702.98,6,1077,283.830000,239,0.025105,0.0,0.0,1.0,1.0,0.0,1.0,1122.0,0.0,0.0,0.0,3,674
3,4,917.29,5,997,183.458000,219,0.022831,0.0,0.0,2.0,1.0,1.0,2.0,1036.0,0.0,0.5,0.0,2,756
4,5,2001.49,8,1003,250.186250,303,0.026403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,227.25,1,1153,227.250000,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,964
996,997,419.82,2,1060,209.910000,80,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,902
997,998,252.15,1,1097,252.150000,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,802
998,999,2393.26,9,1017,265.917778,321,0.028037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,985
999,1000,1670.79,6,1011,278.465000,249,0.024096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,768

In [9]:
c_df = pd.read_csv('/Users/mac/PycharmProjects/Customer_Churn/churn_status')
c_df

     customer_id  churn_status
0              1             0
1              2             1
2              3             0
3              4             0
4              5             0
..           ...           ...
995          996             0
996          997             0
997          998             0
998          999             0
999         1000             0

[1000 rows x 2 columns]

In [10]:
df_new = df_new.merge(c_df, how='left', on='customer_id')
df_new

,customer_id,total_amount_spent,number_of_transactions,days_since_last_purchase,average_spent,account_age,spending_frequnecy,no_complaints,no_feedbacks,no_inquiry,no_resolved,no_unresolved,no_interactions,recency,complaint_rate,unresolution_rate,feedback_rate,login_frequency,days_since_last_login,churn_status
0,1,416.50,1,1272,416.500000,0,0.000000,0.0,0.0,1.0,1.0,0.0,1.0,1268.0,0.0,0.0,0.0,34,699,0
1,2,1547.42,7,1035,221.060000,314,0.022293,0.0,0.0,1.0,1.0,0.0,1.0,1282.0,0.0,0.0,0.0,5,654,1
2,3,1702.98,6,1077,283.830000,239,0.025105,0.0,0.0,1.0,1.0,0.0,1.0,1122.0,0.0,0.0,0.0,3,674,0
3,4,917.29,5,997,183.458000,219,0.022831,0.0,0.0,2.0,1.0,1.0,2.0,1036.0,0.0,0.5,0.0,2,756,0
4,5,2001.49,8,1003,250.186250,303,0.026403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,693,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,227.25,1,1153,227.250000,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,964,0
996,997,419.82,2,1060,209.910000,80,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,902,0
997,998,252.15,1,1097,252.150000,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,802,0
998,999,2393.26,9,1017,265.917778,321,0.028037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,985,0
999,1000,1670.79,6,1011,278.465000,249,0.024096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,768,0

In [11]:
df_new.to_csv('Merged_Dataset.csv', index=False)